.buy__btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.5em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: var(--color-highlight);
  box-shadow: 2px 2px 25px -7px var(--color-primary);
  cursor: pointer;

  &:active {
    transform: scale(0.97);
  }
}