.btn_container {
  display: flex;
  position: relative;
}

.btn_cta_btn {
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 16px;
  color: #fff;
  background-color: #0e0e0e;
}

.btn_cta_btn:hover {
  color: #b95151;
  background-color: #0e0e0e;
}

@media(max-width: 479px) {
  .btn_cta_btn {
    font-size: 16px;
  }
}