.tabsList {
  display: flex;

}

.tab {
  padding: 5px;
  width: 100px;
  left: 12px;
  cursor: pointer;
  background: #2c2c2c;
  border: 0px;
  position: relative;
  top: 1px;
  color: #ffffff;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid #1c1c1c;
}

.tab:hover {
  color: #d8ffcccc;
  background: #1c1c1c;
}

.activeTab {

  background: #1c1c1c;
}

.tabPanel {
  position: relative;
}